{{define "auth/registration/_credential_form.html"}}

<div>
  <script>
    function __oryWebAuthnBufferDecode(value) {
      return Uint8Array.from(
        atob(value.replaceAll("-", "+").replaceAll("_", "/")),
        function (c) {
          return c.charCodeAt(0)
        },
      )
    }

    function __oryWebAuthnBufferEncode(value) {
      return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
        .replaceAll("+", "-")
        .replaceAll("/", "_")
        .replaceAll("=", "")
    }
    
    function passkeyRegistration() {
      const dataEl = document.getElementsByName("passkey_create_data")[0]
      const resultEl = document.getElementsByName("passkey_register")[0]
  
      if (!dataEl || !resultEl) {
        console.debug("__oryPasskeyRegistration: mandatory fields not found")
        return
      }
      console.log(dataEl.value)
      const createData = JSON.parse(dataEl.value)
  
      // Fetch display name from field value
      const displayNameFieldName = createData.displayNameFieldName
      const displayName = dataEl
        .closest("form")
        .querySelector("[name='" + displayNameFieldName + "']").value
  
      let opts = createData.credentialOptions
      opts.publicKey.user.name = displayName
      opts.publicKey.user.displayName = displayName
      opts.publicKey.user.id = __oryWebAuthnBufferDecode(opts.publicKey.user.id)
      opts.publicKey.challenge = __oryWebAuthnBufferDecode(
        opts.publicKey.challenge,
      )
  
      if (opts.publicKey.excludeCredentials) {
        opts.publicKey.excludeCredentials = opts.publicKey.excludeCredentials.map(
          function (value) {
            return {
              ...value,
              id: __oryWebAuthnBufferDecode(value.id),
            }
          },
        )
      }
  
      navigator.credentials
        .create(opts)
        .then(function (credential) {
          resultEl.value = JSON.stringify({
            id: credential.id,
            rawId: __oryWebAuthnBufferEncode(credential.rawId),
            type: credential.type,
            response: {
              attestationObject: __oryWebAuthnBufferEncode(
                credential.response.attestationObject,
              ),
              clientDataJSON: __oryWebAuthnBufferEncode(
                credential.response.clientDataJSON,
              ),
            },
          })
    
          htmx.trigger("#registration-form-passkey", "post_after_passkey_registration")
        })
        .catch((err) => {
          console.error(err)
        }) 
    }
  </script>
  
  {{template "auth/registration/_credential_passkey_form.html" .}}
  {{template "auth/registration/_credential_password_form.html" .}}


</div>
{{end}}