{{define "auth/registration/_form_credential_password.html"}}

<form 
  id="registration-form-password"
  hx-post="/auth/registration/credential/password?flow={{.RegistrationFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="my-6">
    {{ template "components/_input.html" dict 
      "type" "email" 
      "name" "traits.email" 
      "label" "メールアドレス" 
      "value" .Traits.Email 
      "placeholder" "john.doe@company.com" 
      "validationErrorMessage" .ValidationFieldError.Email.Message 
    }}
  </div>

  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "password"  
      "name" "password" 
      "label" "パスワード" 
      "value" .Password 
      "validationErrorMessage" .ValidationFieldError.Password.Message 
    }}
  </div>
  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "password" 
      "name" "password_confirmation" 
      "label" "パスワード確認" 
      "value" .PasswordConfirmation 
      "validationErrorMessage" .ValidationFieldError.PasswordConfirmation.Message 
    }}
  </div>

  <input type="hidden" name="traits.lastname" value={{.Traits.Lastname}} />
  <input type="hidden" name="traits.firstname" value={{.Traits.Firstname}} />
  <input type="hidden" name="traits.nickname" value={{.Traits.Nickname}} />
  <input type="hidden" name="birthdate_year" value={{.BirthdateYear}} />
  <input type="hidden" name="birthdate_month" value={{.BirthdateMonth}} />
  <input type="hidden" name="birthdate_day" value={{.BirthdateDay}} />

  <div class="mx-auto text-center">
    <button 
      type="submit" 
      class="w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >パスワードで登録</button>
  </div>
  
  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
  <div class="mt-6">
    {{ template "compnents/_messages.html" .Messages }}
  </div>
  {{ end }}
</form>

{{end}}