{{define "auth/registration/_form_passkey.html"}}
<div>
<script>
  function passkeyRegistration() {
    const dataEl = document.getElementsByName("passkey_create_data")[0]
    const resultEl = document.getElementsByName("passkey_register")[0]

    if (!dataEl || !resultEl) {
      console.debug("__oryPasskeyRegistration: mandatory fields not found")
      return
    }

    const createData = JSON.parse(dataEl.value)

    // Fetch display name from field value
    const displayNameFieldName = createData.displayNameFieldName
    const displayName = dataEl
      .closest("form")
      .querySelector("[name='" + displayNameFieldName + "']").value

    let opts = createData.credentialOptions
    opts.publicKey.user.name = displayName
    opts.publicKey.user.displayName = displayName
    opts.publicKey.user.id = __oryWebAuthnBufferDecode(opts.publicKey.user.id)
    opts.publicKey.challenge = __oryWebAuthnBufferDecode(
      opts.publicKey.challenge,
    )

    if (opts.publicKey.excludeCredentials) {
      opts.publicKey.excludeCredentials = opts.publicKey.excludeCredentials.map(
        function (value) {
          return {
            ...value,
            id: __oryWebAuthnBufferDecode(value.id),
          }
        },
      )
    }

    navigator.credentials
      .create(opts)
      .then(function (credential) {
        resultEl.value = JSON.stringify({
          id: credential.id,
          rawId: __oryWebAuthnBufferEncode(credential.rawId),
          type: credential.type,
          response: {
            attestationObject: __oryWebAuthnBufferEncode(
              credential.response.attestationObject,
            ),
            clientDataJSON: __oryWebAuthnBufferEncode(
              credential.response.clientDataJSON,
            ),
          },
        })

        htmx.trigger("#registration-form", "post_after_passkey_registration")
      })
      .catch((err) => {
        console.error(err)
      }) 
  }
</script>

<form 
  id="registration-form"
  hx-post="/auth/registration/passkey?flow={{.RegistrationFlowID}}"
  hx-swap="outerHTML" 
  hx-target="this"
  hx-trigger="post_after_passkey_registration"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <input
    name="passkey_register"
    type="hidden"
  />

  <input
    name="passkey_create_data"
    type="hidden"
    value="{{.PasskeyCreateData}}"
  />

  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "email" 
      "name" "traits.email" 
      "label" "メールアドレス" 
      "value" .Traits.Email 
      "placeholder" "john.doe@company.com" 
      "validationErrorMessage" .ValidationFieldError.Email.Message 
    }}
  </div>

  <div class="grid gap-6 mb-6 md:grid-cols-2">
    {{ template "components/_input.html" dict 
      "type" "text" 
      "name" "traits.lastname" 
      "label" "性" 
      "value" .Traits.Lastname 
      "validationErrorMessage" .ValidationFieldError.Lastname.Message 
    }}
    {{ template "components/_input.html" dict 
      "type" "text" 
      "name" "traits.firstname" 
      "label" "名" 
      "value" .Traits.Firstname 
      "validationErrorMessage" .ValidationFieldError.Firstname.Message 
    }}
  </div>
  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "text" 
      "name" "traits.nickname" 
      "label" "ニックネーム" 
      "value" .Traits.Nickname 
      "validationErrorMessage" .ValidationFieldError.Nickname.Message 
    }}
  </div>
  <div class="mb-6">
    {{ template "components/_input_date.html" dict 
      "type" "text" 
      "name" "birthdate" 
      "label" "生年月日" 
      "year" .BirthdateYear
      "month" .BirthdateMonth
      "day" .BirthdateDay
      "validationErrorMessage" .ValidationFieldError.Birthdate.Message 
    }}
  </div>

  <div class="mx-auto text-center">
    <button type="button" class="btn btn-primary btn-wide" onclick="passkeyRegistration()">登録</button>
  </div>

  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
    <div class="mt-6">
      {{ template "compnents/_messages.html" .Messages }}
    </div>
  {{ end }}

  </form>
</div>
{{end}}