{{define "layout/_header.html"}}
<!DOCTYPE html>
<html lant="ja" class="dark">
  <head>
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
    <link href="/assets/css/flowbite.min.css" rel="stylesheet">
    <script src="/assets/js/tailwind.min.js"></script>
    <script>
      htmx.onLoad(function(content) {
        initFlowbite();
      })
      tailwind.config = {
        theme: {
          extend: {}
        },
        darkMode: 'class',
      }
    </script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="http://localhost:4433/.well-known/ory/webauthn.js" ></script>

    <meta name="htmx-config" content='{"withCredentials":"true"}'>
  </head>
  <body class="dark:bg-gray-900 dark:text-white">
    <main>
      {{template "layout/_navbar.html" .}}
      <div class="container mx-auto px-4 pt-20">
{{end}}