{{ define "components/_input.html" }}
{{ $type := default "text" (get . "type") }}
{{ $name := get . "name" }}
{{ $label := get . "label" }}
{{ $value := get . "value" }}
{{ $placeholder := get . "placeholder" }}
{{ $validationErrorMessage := get . "validationErrorMessage" }}
{{ $disabled := default false (get . "disabled") }}

{{ $successInputClass := "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
{{ $errorInputClass := "bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500" }}
{{ if eq $disabled true }}
  {{ $successInputClass = cat $successInputClass "cursor-not-allowed !text-gray-400 dark:!text-gray-400" }}
  {{ $errorInputClass = cat $errorInputClass "cursor-not-allowed" }}
{{ end }}

<div>
  {{ if $validationErrorMessage }}
  <label for="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">{{ $label }}</label>
  {{ else }}
  <label for="{{ $name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ $label }}</label>
  {{ end }}

  <input 
    type="{{ $type }}" 
    id="{{ $name }}" 
    name="{{ $name }}" 
    value="{{ $value }}"
    {{ if $validationErrorMessage }}
    class="{{ $errorInputClass }}"
    {{ else }}
    class="{{ $successInputClass }}"
    {{ end }}
    placeholder="{{ $placeholder }}" 
    {{ if eq $disabled true }}
    disabled
    {{ end }}
    {{ range .attributes }}
    {{ .|safeattr }}
    {{ end }}
  />

  {{ if $validationErrorMessage }}
  <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ $validationErrorMessage }}</p>
  {{ end }}
</div>
{{ end }}