{{define "auth/login/_code_form.html"}}
<form 
  id="login-code-form"
  hx-post="/auth/login/code?flow={{.LoginFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
  >
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />
  <input
    name="identifier"
    type="hidden"
    value="{{.Identifier}}"
  />

  <input
    name="update_settings_after_logged_in"
    type="hidden"
    value="{{.UpdateSettingsAfterLoggedIn}}"
  />
  
  <div class="my-6 text-center">
    <div class="mb-6">
      {{ template "components/_input.html" dict 
        "type" "text" 
        "name" "code" 
        "label" "認証コード" 
        "validationErrorMessage" .ValidationFieldError.Code.Message 
      }}
    </div>
  </div> 

  <div class="mx-auto text-center">
    <button 
      type="submit" 
      class="sm:w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >送信</button>
  </div>

  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
    <div class="mt-6">
      {{ template "compnents/_messages.html" .Messages }}
    </div>
  {{ end }}
</form> 
{{end}}