{{define "auth/login/_form.html"}}
<form 
  id="login-form"
  hx-post="/auth/login?flow={{.LoginFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
  >
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />
  <input
    name="render"
    type="hidden"
    value="{{.Render}}"
  />
  <input
    name="hook"
    type="hidden"
    value="{{.Hook}}"
  />
  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "email" 
      "name" "identifier" 
      "label" "メールアドレス" 
      "value" .Traits.Email 
      "validationErrorMessage" .ValidationFieldError.Email.Message 
    }}
  </div> 

  <div class="mb-6">
    {{ template "components/_input.html" dict 
      "type" "password"  
      "name" "password" 
      "label" "パスワード" 
      "validationErrorMessage" .ValidationFieldError.Password.Message 
    }}
  </div> 
  
  <div class="mx-auto text-center">
    <button 
      type="submit" 
      class="sm:w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >パスワードでログイン</button>
  </div>

  <div class="text-right">
    <a class="link text-blue-500 text-sm" href="/auth/recovery">パスワードを忘れた場合はこちら</a> 
  </div>

  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
    <div class="mt-6">
      {{ template "compnents/_messages.html" .Messages }}
    </div>
  {{ end }}
</form> 
{{end}}