{{define "auth/login/_passkey_form.html"}}
<div id="_form_passkey">
  <script>
    function __oryWebAuthnBufferDecode(value) {
      return Uint8Array.from(
        atob(value.replaceAll("-", "+").replaceAll("_", "/")),
        function (c) {
          return c.charCodeAt(0)
        },
      )
    }
  
    function __oryWebAuthnBufferEncode(value) {
      return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
        .replaceAll("+", "-")
        .replaceAll("/", "_")
        .replaceAll("=", "")
    }
  
    async function passkeyLoginAutoCompleteInit() {
      const dataEl = document.getElementsByName("passkey_challenge")[0]
      const resultEl = document.getElementsByName("passkey_login")[0]
      const identifierEl = document.getElementsByName("identifier")[0]
  
      if (!dataEl || !resultEl || !identifierEl) {
        console.debug(
          "__oryPasskeyLoginAutocompleteInit: mandatory fields not found",
        )
        return
      }
  
      if (
        !window.PublicKeyCredential ||
        !window.PublicKeyCredential.isConditionalMediationAvailable ||
        window.Cypress // Cypress auto-fills the autocomplete, which we don't want
      ) {
        console.log("This browser does not support WebAuthn!")
        return
      }
      const isCMA = await PublicKeyCredential.isConditionalMediationAvailable()
      if (!isCMA) {
        console.log(
          "This browser does not support WebAuthn Conditional Mediation!",
        )
        return
      }
  
      let opt = JSON.parse(dataEl.value)
      if (opt.publicKey.user && opt.publicKey.user.id) {
        opt.publicKey.user.id = __oryWebAuthnBufferDecode(opt.publicKey.user.id)
      }
      opt.publicKey.challenge = __oryWebAuthnBufferDecode(opt.publicKey.challenge)
  
      // Allow aborting through a global variable
      window.abortPasskeyConditionalUI = new AbortController()
  
      navigator.credentials
        .get({
          publicKey: opt.publicKey,
          mediation: "conditional",
          signal: abortPasskeyConditionalUI.signal,
        })
        .then(function (credential) {
          resultEl.value = JSON.stringify({
            id: credential.id,
            rawId: __oryWebAuthnBufferEncode(credential.rawId),
            type: credential.type,
            response: {
              authenticatorData: __oryWebAuthnBufferEncode(
                credential.response.authenticatorData,
              ),
              clientDataJSON: __oryWebAujkthnBufferEncode(
                credential.response.clientDataJSON,
              ),
              signature: __oryWebAuthnBufferEncode(credential.response.signature),
              userHandle: __oryWebAuthnBufferEncode(
                credential.response.userHandle,
              ),
            },
          })
  
          htmx.trigger("#login-form", "post_after_passkey_got_credential")
        })
        .catch((err) => {
          console.log(err)
        })
    }
  
    function passkeyLogin() {
      const dataEl = document.getElementsByName("passkey_challenge")[0]
      const resultEl = document.getElementsByName("passkey_login")[0]
  
      if (!dataEl || !resultEl) {
        console.debug("__oryPasskeyLogin: mandatory fields not found")
        return
      }
      if (!window.PublicKeyCredential) {
        console.log("This browser does not support WebAuthn!")
        return
      }
  
      let opt = JSON.parse(dataEl.value)
  
      if (opt.publicKey.user && opt.publicKey.user.id) {
        opt.publicKey.user.id = __oryWebAuthnBufferDecode(opt.publicKey.user.id)
      }
      opt.publicKey.challenge = __oryWebAuthnBufferDecode(opt.publicKey.challenge)
      if (opt.publicKey.allowCredentials) {
        opt.publicKey.allowCredentials = opt.publicKey.allowCredentials.map(
          function (cred) {
            return {
              ...cred,
              id: __oryWebAuthnBufferDecode(cred.id),
            }
          },
        )
      }
  
      window.abortPasskeyConditionalUI &&
        window.abortPasskeyConditionalUI.abort(
          "only one credentials.get allowed at a time",
        )
  
      navigator.credentials
        .get({
          publicKey: opt.publicKey,
        })
        .then(function (credential) {
          resultEl.value = JSON.stringify({
            id: credential.id,
            rawId: __oryWebAuthnBufferEncode(credential.rawId),
            type: credential.type,
            response: {
              authenticatorData: __oryWebAuthnBufferEncode(
                credential.response.authenticatorData,
              ),
              clientDataJSON: __oryWebAuthnBufferEncode(
                credential.response.clientDataJSON,
              ),
              signature: __oryWebAuthnBufferEncode(credential.response.signature),
              userHandle: __oryWebAuthnBufferEncode(
                credential.response.userHandle,
              ),
            },
          })
  
          htmx.trigger("#login-form-passkey", "post_after_passkey_got_credential")
        })
        .catch((err) => {
          // Calling this again will enable the autocomplete once again.
          console.error(err)
          window.abortPasskeyConditionalUI && passkeyLoginAutoCompleteInit()
        })
    }
  </script>
  <form 
    id="login-form-passkey"
    hx-post="/auth/login/passkey?flow={{.LoginFlowID}}&return_to={{.ReturnTo}}" 
    hx-swap="outerHTML" 
    hx-target="#_form_passkey"
    hx-trigger="post_after_passkey_got_credential"
    class="mb-4"
  >
    <input
      name="csrf_token"
      type="hidden"
      value="{{.CsrfToken}}"
    />
    
    <input
      name="passkey_challenge"
      type="hidden"
      value="{{.PasskeyChallenge}}"
    />
  
    <input
      name="passkey_login"
      type="hidden"
    />

    <input
      name="update_settings_request"
      type="hidden"
      value="{{.UpdateSettingsRequest}}"
    />

    <div class="mx-auto mt-4 text-center">
      <button 
        type="button" 
        class="sm:w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        onclick="passkeyLogin()"
      >パスキーでログイン</button>
    </div> 
  
    {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
      <div class="mt-6">
        {{ template "compnents/_messages.html" .Messages }}
      </div>
    {{ end }}
  </form> 
</div>
{{end}}