{{define "my/index.html"}}
{{template "layout/_header.html" .}}

<h2 class="text-lg text-center font-bold">マイページ</h2>

<div class="container mx-auto mt-6 px-24">

  {{ if and (ne .Information "") (ne .Information nil) }}
  <div class="flex items-center p-4 my-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>{{ .Information }} </div>
  </div>
  {{end}}

  <a href="/my/profile">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >プロフィール</button>
  </a>

  <a href="/my/password">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >パスワード</button>
  </a>

  <a href="/my/passkey">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >パスキー</button>
  </a>

  <a href="/my/totp">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >2段階認証</button>
  </a>

  <a href="/my/account_link">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >ID連携</button>
  </a>

  <a href="/my/login_history">
    <button 
      class="w-full text-white hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:hover:bg-gray-800 focus:outline-none border dark:border-gray-700"
    >ログイン履歴</button>
  </a>
  
</div>
  
{{template "layout/_footer.html" .}}
{{end}}