{{define "auth/verification/_code_form.html"}}
<form 
  id="verification-form" 
  hx-post="/auth/verification/code?flow={{.VerificationFlowID}}"
  hx-swap="outerHTML" 
  hx-target="this"
  > 
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />
  <input
    name="render"
    type="hidden"
    value="{{.Render}}"
  />
  <div class="my-6 text-center">
    <div class="mb-6">
      {{ template "components/_input.html" dict 
        "type" "text" 
        "name" "code" 
        "label" "検証コード" 
        "value" .Code 
        "validationErrorMessage" .ValidationFieldError.Code.Message 
      }}
    </div>
  </div> 

  <div class="mx-auto mt-4 text-center">
    <button 
      type="submit" 
      class="w-40 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >送信</button>
  </div>

  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
    <div class="mt-6">
      {{ template "compnents/_messages.html" .Messages }}
    </div>
  {{ end }}

</form>
{{end}}