{{define "auth/verification/_email_form.html"}}
<form 
  id="verification-form"
  hx-post="/auth/verification/email?flow={{.VerificationFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="my-6 text-center">
    {{ template "components/_input.html" dict 
      "type" "email" 
      "name" "email" 
      "label" "メールアドレス" 
      "validationErrorMessage" .ValidationFieldError.Email.Message 
    }}
  </div> 

  <div class="mx-auto mt-4 text-center">
    <button 
      type="submit" 
      class="w-80 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >送信</button>
  </div>

  {{ if and (ne .Messages nil) (gt (len .Messages) 0) }}
    <div class="mt-6">
      {{ template "compnents/_messages.html" .Messages }}
    </div>
  {{ end }}

  </form> 
{{end}}